<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>XE Lab NG1-2</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="assets/bootstrap.min.css">
</head>
<body ng-app="myapp">
<nav class="navbar navbar-inverse">
  <a class="navbar-brand" href="#">FEEDBACK</a>
  <ul class="nav navbar-nav">
    <li><a href="#">Welcome</a></li>
  </ul>
</nav> <!-- /topmenu -->

<div class="container">
  
  <div class="jumbotron">
    <label>NG is magic:</label>
    <input ng-model="vm.name" placeholder="write something...">
    <h1>Hello {{vm.name}}</h1>
  </div>

  <div class="jumbotron" ng-controller="askCtrl as vm">  

    <div class="row form-inline">
      
      <div class="col-md-8">
        <div class="form-group">
          <label class="label-control">Name:</label>
          <div class="input-group">
            <input ng-model="vm.name" type="text" class="form-control" placeholder="Enter your name...">
            <span class="input-group-btn">
              <button ng-click="vm.show()" class="btn btn-primary" type="button">Ok!</button>
            </span>
          </div><!-- /input-group -->
        </div><!-- /form-group -->
      </div>

    </div><!-- /form-inline -->
    <h1 ng-if="vm.name">Hello {{vm.name}}</h1>
  </div> <!-- /jumbotron -->  

</div> <!-- /container -->
  <script src="dist/bundle.js"></script>
  <script src="src/app.js"></script>
</body>
</html>
