<div class="form-group" ng-controller="askCmp as $ctrl">
    <label class="label-control">{{$ctrl.req}}</label>
    <div class="input-group">
        <input ng-model="$ctrl.txt" type="text" class="form-control" 
            keys on-esc="$ctrl.undo()" placeholder="{{$ctrl.msg}}">
        <span class="input-group-btn">
            <button ng-click="$ctrl.okemit($ctrl.txt)" class="btn btn-primary" type="button">Ok!</button>
        </span>
    </div><!-- /input-group -->
<!--<pre>{{$ctrl.val}} = {{$ctrl.vm.name}} | {{$ctrl.txt}}</pre>-->
</div><!-- /form-group -->
